body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: azure;
}
h2 {
    text-align: center;
}

a {
    color: gold;
    font-family: 'Lora', serif;

}

.Copyright{
    position: absolute;
    right: 0;
    bottom: 0;
}

